*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
.navbar{
    background-color: rgb(233, 186, 233)
}
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.card-body {
    display: flex;
    flex-direction: column;
}

.card-body button {
    margin-top: auto;       
    padding: 10px 0;       
    font-size: 16px;
    border-radius: 6px;
    background-color:rgb(233, 186, 233) ;
}
.card-body button:hover{
    margin-top: auto;       
    padding: 10px 0;       
    font-size: 16px;
    border-radius: 6px;
    background-color:rgb(233, 186, 233) ;
}